extends layout

block content
	link(rel='stylesheet' href='/views/css/about.css')
	
	.container-fluid.p-0
		section.profile-section.p-3.p-lg-5.d-fex.align-items-center#about
			.w-100
				h1.mb-0 Loan Nguyen
				.sub-heading.mb-5
					p Ho Chi Minh City, Vietnam
				p.lead.mb-5.
					I am an owner of a prinitng business and loves cooking. I write this blog to satisfy my hobbies and share delicious dishes to you all.
		hr.m-0
