block footer
	// Footer
	footer.page-footer.font-small.blue.pt-4(style='border-top: 0.8px solid; border-bottom: 0.8px solid')
	
		// Footer Links
		.container-fluid.text-center.text-md-left
			// Grid row
			.row
				// Grid column
				.col-md-6.mt-md-0.mt-3
					// Content
					h5.text-uppercase Loan Nguyen Cook
					p I wrote recipes to teach my son cooking and share with ohters delicious recipes 
			
				// Grid column
				.col-md-3.mt-md-0.mt-3
					//Content
					a(href='recipes' style="text-decoration:none; color: black") 
						p Write your recipes here 

		.footer-copyright.text-center.py-3
			| @ 2019 Copyright:
			a(href='/')  loannguyencook.com
