extend ../layout

block content
	.container-fluid.p-0
		img#dish-image(src='') 
		h1= recipe.recipeName
		.row
			.col-xs-12.col-sm-4.col-md-4
				h4 Ingredients
				each amount, name in recipe.ingredients.ingredients
					p= name + '|' +  amount 
				h4 Steps
				each step in recipe.steps
					p= step
