block more-content
	h2 Hello
	link(href='/views/css/load-more-button.css' rel='stylesheet' type= 'text/css')
	br
	.interior.container.clearfix
		.row
			.col-xs-12.col-sm-6.col-md-4.blogBox.moreBox
				.item
					.blogTxt
						h2 Ingredients
						h2 Steps
			.col-xs-12.col-sm-6.col-md-5.blogBox.moreBox
				.item
					.blogTxt
						h2 Ingredients
						h2 Steps
			.col-xs-12.col-sm-6.col-md-5.blogBox.moreBox
				.item
					.blogTxt
						h2 Ingredients
						h2 Steps
			#loadMore(style='')
				a(id='loadMoreButton' href='/home/morerecipes') Load More
